@charset "UTF-8";

.ai-interview-container {
	max-width: 1060px;
	margin: 0 auto;
	font-family: var(--font-family);
	box-shadow: var(--main-box-shadow);
	padding: 20px;
	padding-top: 29px;
}

.ai-title {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	background: linear-gradient(to right, #fef4e6, #fce6f1);
	padding: 12px;
	border-radius: 8px;
	margin-bottom: 20px;
}

textarea:focus{
	border: 1px solid var(--main-color);
	outline: none; /* 기본 파란 아웃라인 제거 */
	box-shadow: 0 0 3px var(--main-color);
}

.question-block {
	border: 1px solid #eee;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
	padding: 16px;
	margin-bottom: 20px;
	background: #fff;
}

.question-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.question-icon {
	font-size: 18px;
	margin-right: 8px;
	margin-left: 8px;
	
}

.question-text {
	flex: 1;
	font-size: 15px;
	font-weight: 600;
	color: #333;
}

.button-group {
	display: flex;
	gap: 8px;
}

.copy-btn, .delete-btn {
	background: var(--main-color);
	border: none;
	padding: 5px 10px;
	border-radius: 6px;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
}

.delete-btn:hover {
	background-color: var(--main-color-hover);
}

.copy-btn:hover {
	background-color: var(--main-color-hover);
}

.user-answer {
	width: 100%;
	min-height: 80px;
	resize: vertical;
	padding: 10px;
	font-size: 14px;
	border-radius: 6px;
	border: 1px solid #ccc;
	margin-bottom: 12px;
}

.ai-feedback {
	border: 1px dashed #ccc;
	padding: 10px;
	display: flex;
	align-items: center;
	border-radius: 8px;
	background-color: #fcfcfc;
}

.ai-icon {
	width: 20px;
	margin-right: 8px;
}

.feedback-text {
	font-size: 13px;
	color: #555;
}

.add-question-wrap {
	text-align: center;
	margin-top: 10px;
}

.add-question-btn {
	padding: 10px 18px;
	background-color: var(--main-color);
	border: none;
	font-weight: 600;
	border-radius: 6px;
	cursor: pointer;
}

.add-question-btn:hover {
	background-color: var(--main-color-hover);
}

.checkbox {
	width: 20px;
	height: 20px;
	accent-color: #fcd34d;
	margin: auto;
}