@charset "UTF-8";

.profile-img {
	width: 120px;
	height: 130px;
	border: 1px solid var(--main-color);
	overflow: hidden;
}

.profile-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.input-row {
  display: block;
  width: 100%;
  margin-top: 6px; /* input 사이 여백 */
}
.info-table {
	border-collapse: collapse;
	width: 100%;
}

.info-table td {
	padding: 10px 15px;
	background-color: white; /* td는 흰색 배경 */
}

.bg-text {
	background-color: #FFFDF6; /* 원하는 노란색 */
	padding: 2px 4px;
	border-radius: 4px;
}

.bg-text {
	display: block; /* span을 블록 요소로 변경 */
	width: 100%; /* 부모(td)의 너비를 100% 사용 */
	height: 100%; /* 부모(td)의 높이를 100% 사용 */
	padding: 4px; /* 내부 여백을 위해 padding을 유지하는 것이 좋습니다 */
	box-sizing: border-box; /* padding이 너비/높이에 포함되도록 설정 */
}

.member-info-title {
	background: linear-gradient(to right, #fff4d6, #fce5f1);
	padding: 12px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 24px;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 12px;
}

th {
	background-color: var(--main-color);
	text-align: left;
	padding: 14px;
	width: 90px;
	font-weight: 600;
	vertical-align: middle;
}

td {
	padding: 14px;
	vertical-align: middle;
}
.form-submit-container {
    text-align: right;
    margin-top: 20px;
}
.edit-button {
	background-color: var(--main-color);
	border: none;
	padding: 6px 14px;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.2s;
}

.passwd-button {
    background-color: var(--main-color);
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    text-align: right;
    margin: 0px 0px 15px 521px;
}

.infodelete-button {
	background-color: #FF6D6D;
	border: none;
	padding: 6px 14px;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.2s;
	text-align: right;
	margin-left: 5px;
}

.passwd-button:hover {
	background-color: var(--main-color-hover);
}

.infodelete-button:hover {
	background-color: #dc3545;
}

.right-align {
	text-align: right;
	padding-right: 25px;
}