@charset "UTF-8";
/*
 사용 방법  
 css 파일에 컬러 코드 넣어야 할곳에 
  var(변수명);
  위와같이 변수명을 적으면 자동으로 색이 적용됨 
*/

:root {
  /* 메인 컬러 */
  --main-color: #FFE585;

  /* 메인 컬러 - 호버 상태 */
  --main-color-hover: #fcd34d;

  /* 메인 버튼 - 비활성화 상태 (opacity만 사용) */
  --button-disabled-opacity: 0.65;

  /* 메인 텍스트 컬러 */
  --font-main-color: #333333;

  /* 서브 텍스트 컬러 (헤더, 푸터) */
  --font-sub-color: #797272;

  /* 플레이스홀더 색상 */
  --font-placeholder-color: #888888;
 
  /* 본문 영역 배경색 */
  --body-bg-color: #ffffff;

  /*그라데이션 */
  --background-gradient: linear-gradient(to bottom,#FFF5E1 0%, 
                                     #F5F8EC 50%, 
                                     #F3F6EE 63%, 
                                     #F0F3EF 75%, 
                                     #FEECF8 100%);
                                     
  --background-gradient-horizontally: linear-gradient(to right, 
                                     #FEEFCA 0%, 
                                     #EFF3DD 50%, 
                                     #EDF1E0 63%, 
                                     #E8EDE7 75%, 
                                     #FDE2F3 100%);
                                     
                                     
  /* 🆎 폰트 패밀리 */
  --font-family: 'Noto Sans KR', sans-serif; /* 기본 폰트 */

}


body{
	font-family: var(--font-family);
	margin:0;
}

a{
  text-decoration: none;
}











/* SNS 아이콘 사이즈 크기 조절 */