@charset "UTF-8";

  .logo-preview { max-height: 40px; border-radius: 6px; }
  .btn-edit { padding:6px 10px;border:0;border-radius:10px;background:#f6d46b;cursor:pointer }
  .edit-input { 
  	width: 90%; 
  	padding: 4px; 
	border-radius: 20px;
	border:1px solid var(--font-sub-color);
  }
  .edit-input:focus { 
	    background-color: var(--body-bg-color);
    border-color: var(--main-color-hover);
    outline: 0;
  }
  
#companyTable .gridjs-head,
#companyTable .gridjs-thead,
#companyTable table thead {
  display: none !important;
}

.gridjs-container {
	padding: 0px !important;
}

#companyTable .gridjs-th:last-child,
#companyTable .gridjs-td:last-child {
  width: 60px !important; /* 원하는 값 */
  min-width: 60px !important;
  text-align: center; /* 버튼 중앙 정렬 */
}

.passwd-button {
    background-color: var(--main-color);
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    text-align: right;
    margin: 0px 0px 15px 521px;
}

.infodelete-button {
	background-color: #ff8080;
	border: none;
	padding: 6px 14px;
	    height: 36px;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.2s;
	text-align: right;
	margin-left: 5px;
}

.passwd-button:hover {
	background-color: var(--main-color-hover);
}

.infodelete-button:hover {
	background-color: #dc3545;
}

#companyTable .gridjs-th:first-child,
#companyTable .gridjs-td:first-child {
  width: 120px !important;
  min-width: 120px !important;
  max-width: 120px !important;
}

#companyTable .gridjs-td:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--main-color); /* 원하는 색상 */
}