<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.itwillbs.illusion.mapper.BoardMapper">
	<select id="selectBoardList">
		SELECT 
			   board_idx
			 , board_title
			 , board_content
			 , board_create_at
			 , board_viewcnt
			 , cmt_count
			 , member_id
			 , member_name
		  FROM board b
		  JOIN member m ON b.member_idx = m.member_idx
	  ORDER BY board_idx desc
	</select>

	<select id="selectBoard">
		 SELECT 
		 	    board_idx
			  , board_title
			  , board_content
			  , board_create_at
			  , board_viewcnt
			  , m.member_idx
			  , member_id
			  , member_name
		   FROM board b
		   JOIN member m ON b.member_idx = m.member_idx
		  WHERE board_idx = #{board_idx}
	</select>
	
	<insert id="boardWrite">
		INSERT INTO board 
			( board_idx
			, board_title
			, board_content
			, board_type
			, member_idx )
		VALUES 
			( #{board_idx}
			, #{title}
			, #{content} 
			, #{category}
			, 1 ) <!-- 수정필요 -->
	</insert>
	
	<select id="selectCategory">
		SELECT code_name
		  FROM common_code
		 WHERE code_group_id = "board_type";
	</select>
	
	<insert id="cmtWrite">
		INSERT INTO comment
			( member_idx
			, board_idx
			, cmt_content )
		VALUES
			( #{member_idx}
			, #{board_idx}
			, #{comment} )	
	</insert>
	
	<select id="selectComment">
		 SELECT 
		 		cmt_content
		      , member_name 	    
		   FROM comment c 
		   JOIN member m ON c.member_idx = m.member_idx
		  WHERE c.board_idx = #{board_idx} 
		   
	</select>
	
	<select id="countComment">
		SELECT count(*)
		  FROM comment c
	 	  JOIN member m ON c.member_idx = m.member_idx
		 WHERE c.board_idx = #{board_idx} 
	</select>
</mapper>	