<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.illusion.mapper.CompanyMapper">

	<insert id="insertMemberCompany" useGeneratedKeys="true" keyProperty="company_idx">
	INSERT INTO company
				(company_name
				,ceo_name
				,company_type
				,company_estab_date
				,company_logo -- 기본 이미지 경로 추가 (덕교)
			   )
		VALUES ( #{company_name}
			   , #{ceo_name}
			   , #{company_type}
			   , #{company_estab_date}
			   , #{company_logo}
			   )
	</insert>
	<!-- 로고 업데이트((덕교) -->
	<update id="updateCompanyLogo">
		UPDATE company 
		   SET company_logo = #{logoTag}
		 WHERE company_idx = #{company_idx}
	</update>
	
	
</mapper>