<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.illusion.mapper.MemberMapper">
	<insert id="insertMember">
	INSERT INTO member
	VALUES ( null,
			 #{member_name},
	         #{member_id},
	         #{member_pw},
	         #{member_email},
	          null,
			 #{address_num},
	         #{address_name},
	          null,
	          null,
	          null,
	          null,
	          null,
	          null,
	          #{gender},
			 #{resume_birth},
	          null
	</insert>

	<insert id="insertMailAuthInfo">
		INSERT INTO mail_auth_info
		VALUES (#{email},
		#{auth_code})
	</insert>


	<select id="selectMailAuthInfo">
		SELECT *
		FROM mail_auth_info
		WHERE email = #{email}
	</select>

	<!-- <update id="updateMailAuthStatus"> -->
	<!-- UPDATE mail_auth_info -->
	<!-- SET mail_auth_status = 'Y' -->
	<!-- WHERE email = #{email} -->
	<!-- </update> -->

	<delete id="deleteMailAuthInfo">
		DELETE FROM mail_auth_info
		WHERE email = #{email}
	</delete>

	<select id="getMemberInfo">
		SELECT *
		FROM MEMBER
		WHERE id = #{id}
	</select>

</mapper>

