<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.itwillbs.illusion.mapper.RecruiterMapper">
	
	<!-- 대분류 값 가져오기  -->
	<select id="getLocation">
		SELECT code, code_name
		  FROM common_code
		 WHERE code_group_id = 'location'
		   AND parent_code_id is null;
	</select>
	
	<!-- 소분류값 가져오기 -->
	<select id="getlocDetailList">
		SELECT code_group_id, code, code_name
		  FROM common_code
		 WHERE code_group_id = 'location'
		<choose>
		  <when test="location != null">
		    AND (
		      (#{location} REGEXP '^[0-9]+$' AND parent_code_id = #{location})
		      OR
		      (#{location} NOT REGEXP '^[0-9]+$' AND code_name LIKE CONCAT('%', #{location}, '%'))
		    )
		  </when>
		  <otherwise>
		  	and 1 = 1
		  </otherwise>
		</choose>
	</select>
	
	<!-- 직무 대분류 값 가져오기  -->
	<select id="getOccupation">
		SELECT code, code_name
		  FROM common_code
		 WHERE code_group_id = 'OCCUPATION'
		   AND parent_code_id is null
	</select>
	
	<!--  직무 소분류 값 가져오기 -->
	<select id="getJobList">
		SELECT code, code_name
		  FROM common_code
		 WHERE code_group_id = 'occupation'	
		   AND parent_code_id = #{occupation};
	</select>
	
	
	<select id="getRecruitmentList">
		SELECT r.recruit_subject
			 , c.code_name as 'rec_status'
		     , r.app_count
		     , r.post_create_at
		     , r.end_date
		     , r.recruit_idx
		  FROM recruit r 
		  JOIN common_code c 
		    ON r.rec_status = c.code
		 WHERE r.rec_status like #{status}; 
	</select>
	
	<update id="recruitClose">
		UPDATE recruit
		SET rec_status = 'RECS02'
		WHERE recruit_idx = #{recruit_idx};
	</update>
	
	<!--  공고 수정 페이지에서 기존 내용 가져오기  -->
	<select id="selectRecruitModify">
		SELECT r.recruit_idx
			 , r.recruit_subject
			 , c6.code_name as recruit_type
			 , r.occupation
		     , r.location
		     , c1.code_name as work_start_day
		     , c7.code_name as work_end_day
		     , c2.code_name as position
		     , c3.code_name as experience
		     , r.start_time
		     , r.end_time
		     , r.recruit_hiring_num
		     , c4.code_name as salary
		     , c5.code_name as degree
		     , r.recruit_context
		     , r.preferred
		     , r.start_date
		     , r.end_date
		     , r.apply_doc
		     , r.apply_method
		  FROM recruit r  
	 LEFT JOIN common_code c1 ON r.work_start_day = c1.code
	 LEFT JOIN common_code c7 ON r.work_end_day = c7.code
	 LEFT JOIN common_code c2 ON r.position = c2.code
	 LEFT JOIN common_code c3 ON r.experience = c3.code
	 LEFT JOIN common_code c4 ON r.salary = c4.code
	 LEFT JOIN common_code c5 ON r.degree = c5.code
	 LEFT JOIN common_code c6 ON r.recruit_type = c6.code
	     WHERE recruit_idx =  #{recruit_idx};
	</select>
	
	
<!-- 	// 공고 등록  -->
	<insert id="insertRecruitment">
		insert into recruit
	 		 ( recruiter_member_idx, 
	   		   occupation, 
       		   location, 
       		   experience,
       		   salary, 
               degree, 
       		   start_date, 
       		   end_date, 
       		   recruit_context, 
		       recruit_subject, 
		       recruit_type, 
		       recruit_hiring_num, 
		       position, 
		       preferred, 
		       apply_doc, 
		       apply_method, 
		       work_start_day, 
		       work_end_day, 
		       start_time, 
		       end_time,
		       rec_status )
	    values 
	    	(  #{recruiter_member_idx}
			 , #{occupation} 
		     , #{location}
		     , #{experience}
			 , #{salary}
			 , #{degree}
			 , #{start_date}
		     , #{end_date}
		     , #{recruit_context}
			 , #{recruit_subject}
		     , #{recruit_type}
		     , #{recruit_hiring_num}
		     , #{position}
		     , #{preferred}
		     , #{apply_doc}
		     , #{apply_method}
		     , #{work_start_day}
		     , #{work_end_day}
			 , #{start_time}
		     , #{end_time}
		     , #{rec_status}
		     ) ;
	</insert>





</mapper>