@charset "UTF-8";
.resume-empty-box {
    width: 510px;
    height: 150px;
    margin: 60px auto;
    padding: 30px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.resume-text {
  font-size: 15px;
  color: #333;
  margin-bottom: 15px;
}

.resume-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff6d9;
  color: #333;
  transition: background-color 0.2s;
  font-weight: 700;
  
}

.resume-btn:hover {
  background-color: #ffeeb5;
}



.interest-section {
	width: 100%;
	text-align: center;
	box-shadow:  var(--main-box-shadow);
	border-radius: 14px;
}

.trcss {
	height: 77.5px;
}

.checkbox {
	width: 20px;
	height: 20px;
	accent-color: #fcd34d;
	margin: auto;
}

.interest-section h2 {
	background: linear-gradient(to right, #fff4d6, #fce5f1);
	padding: 10px 0;
	border-radius: 20px;
	font-size: 20px;
	margin-bottom: 20px;
}

.interest-table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 16px;
	overflow: hidden;
	margin-bottom: 10px;
}

.interest-table thead tr {
	background-color: var(--main-color);
}

.interest-table th, .interest-table td {
	padding: 14px;
	text-align: center;
	font-size: 14px;
}

.interest-table tbody tr:nth-child(even) {
	background-color: #fffdf9;
}

.interest-table .highlight {
	background-color: #fff4c4;
}

.delete-btn {
	background-color: var(--main-color);
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	cursor: pointer;
	font-weight: bold;
	margin-top: 10px;
}

.delete-btn:hover {
	background-color: var(--main-color-hover);
}

.pagination {
	margin-top: 30px;
	margin: 0 auto;
	width: fit-content;
	display: flex;
	gap: 8px;
}

.pagination a {
	margin: 0 5px;
	text-decoration: none;
	color: #444;
	font-size: 16px;
}