* {
	margin: 0px;
	padding: 0px;
}

ul {
	padding:0px;
	margin: 0px;
}

main {
  font-family: var(--font-family, 'Noto Sans KR', sans-serif);
  color: var(--font-sub-color);
  max-width: 1280px; /* 콘텐츠의 최대 너비 설정 */
  margin: 40px auto; /* 페이지 좌우 중앙 정렬 및 상하 여백 */
  display: flex;
  flex-direction: column;
  gap: 60px; /* 각 섹션("대시보드", "맞춤인재" 등) 사이의 간격 */
}


.form-body {
	/* ✨수정✨: 배경색 및 그림자 변수 적용 */
	background-color: var(--body-bg-color);
	box-shadow: var(--main-box-shadow);
   	display:flex;
   	flex-direction:row;
   	align-items: center;
	border-radius: 20px;
	width: 100%;
	min-height: 75vh; /* 폼의 최소 높이를 화면 높이의 75%로 설정 */
	padding: 30px;
	height: 100%;
/*   	gap:113px; */
	/* 그라데이션 테두리 설정을 위한 추가  */
	position:relative; /*폼바디 바로 위에 오게설정*/
	overflow: hidden; /*테두리 넘치는 부분 억제*/
}


/* 그라데이션 테두리 요소 추가  */
.form-body::before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    background: var(--background-gradient-horizontally);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* ======================================================
 *      box-left 영역 (로고 + 문구)
 * ====================================================== */

.box-left {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 0px 70px;
}

.box-left>ul {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.box-left>.divider {
	width: 100%;
    height: 1px;
    display: none;
    }

.tab {
	margin: 0px;
	padding: 0px;
	width: 20rem;
	text-align:center;
	font-size: 18px;
	font-weight: bold;
	color: var(--main-color); /* 노란색 글자 */
    border-bottom: 2px solid var(--main-color); /* 노란 밑줄 */
    padding-bottom: 10px;
}

.result {
	text-align: center;
	display: none;
}
.email-input {
	display: flex;
	flex-direction: row;
	gap:5px;
}

/* ======================================================
 *      박스 사이의 구분자
 * ====================================================== */

.divider {
	width: 1px;
	height: 100%; /* 원하는 선 높이 */
	background-color: var(--font-sub-color); /* 검정색 선 */
	opacity: 0.1;
}

/* ======================================================
 *     box-right
 * ====================================================== */


/* form { */
/* 	margin: 0px 70px; */
/* } */

.box-right {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 0px 70px;
}

.box-right>ul {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}



/* 인풋 부분 */

.vaildNum-send {
	width:29%; 
	border-radius: 15px;
	font-size: 10px;
	padding: 5px 17px;
}


.input {
	border: none;
	    border-radius: 20px;
    padding: 4px 11px;
/*     height: 50px; */
    font-size: 16px;
    color: var(--font-main-color);
/*     box-shadow: none !important; */
    transition: border-color 0.2s;
/* 	width: 373px; */
}

.input:focus {
	border-color: #ffc107;
	
}
.input-wrap:focus {
    background-color: var(--body-bg-color);
    border-color: var(--main-color-hover);
    outline: 0;
} 

.input-wrap:hover {
    background-color: var(--body-bg-color);
    border-color: var(--main-color-hover);
    outline: 0;
} 
.input-wrap:active {
    background-color: var(--body-bg-color);
    border-color: var(--main-color-hover);
    outline: 0;
} 

.input-wrapper:focus-within {
  border-color: var(--main-color-hover); /* 인풋 포커스 시 테두리 색 변경 */
}

.input-wrap {
	border:1px solid var(--font-sub-color);
	font-size: 16px;
/*     color: var(--font-main-color); */
/*     box-shadow: none !important; */
    transition: border-color 0.2s;
    border-radius: 20px;
}


