@charset "UTF-8";

  .logo-preview { max-height: 40px; border-radius: 6px; }
  .btn-edit { padding:6px 10px;border:0;border-radius:10px;background:#f6d46b;cursor:pointer }
  .edit-input { 
  	width: 90%; 
  	padding: 4px; 
	border-radius: 20px;
	border:1px solid var(--font-sub-color);
  }
  .edit-input:focus { 
	    background-color: var(--body-bg-color);
    border-color: var(--main-color-hover);
    outline: 0;
  }
  
#companyTable .gridjs-head,
#companyTable .gridjs-thead,
#companyTable table thead {
  display: none !important;
}

.gridjs-container {
	padding: 0px !important;
}

#companyTable .gridjs-th:last-child,
#companyTable .gridjs-td:last-child {
  width: 60px !important; /* 원하는 값 */
  min-width: 60px !important;
  text-align: center; /* 버튼 중앙 정렬 */
}



#companyTable .gridjs-th:first-child,
#companyTable .gridjs-td:first-child {
  width: 120px !important;
  min-width: 120px !important;
  max-width: 120px !important;
}

#companyTable .gridjs-td:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--main-color); /* 원하는 색상 */
}