@charset "UTF-8";
body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  background: #fff;
  color: #333;
}

/* .mypage-container { */
/*   display: flex;  */
/*   margin: 30px auto; */
/*   padding: 20px; */
/*   border-radius: 16px; */
/*   box-shadow: 0 4px 20px rgba(0,0,0,0.05); */
/*   background: linear-gradient(to bottom, #fff8e5, #fdf5fa); */
/* } */

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

.profile-box {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  margin-bottom: 40px;
}

.profile-left {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 60px;
  height: 60px;
  background: url('https://via.placeholder.com/60') no-repeat center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 16px;
}

.profile-info .username {
  font-weight: bold;
  font-size: 16px;
}

.profile-info .email {
  font-size: 14px;
  color: #666;
}

.token {
  margin: 6px 0;
  color: #333;
}

.edit-btn {
  background: #fddde6;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
}

.profile-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.action-btn {
  background: #fff2c5;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  margin-bottom: 15px;
  font-size: 18px;
  border-left: 5px solid #fddde6;
  padding-left: 10px;
}

.grid {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.file-card {
  flex: 1 1 calc(33% - 12px);
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  font-weight: 500;
  background: #fffdf7;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  height: 100px;
  font-size: 27px;
  
}
