@charset "UTF-8";

.resume-list-container {
	max-width: 1060px;
	margin: 0 auto;
	padding: 30px;
	font-family: var(--font-family);
	background: #fff;
	border-radius: 16px;
	box-shadow: var(--main-box-shadow);
}

.resume-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	background: linear-gradient(to right, #fef4e6, #fce6f1);
	padding: 12px;
	border-radius: 8px;
	margin-bottom: 20px;
}

.resume-list-header {
	display: grid;
	grid-template-columns: 2fr 7fr 2fr;
	background-color:var(--main-color);
	padding: 12px 16px;
	font-weight: 600;
	font-size: 14px;
	border-radius: 8px;
	text-align: center;
}

.resume-item {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	align-items: center;
	padding: 16px;
	border-bottom: 1px solid #eee;
}

.resume-item:hover {
	background-color: #fff8d0;
}

.resume-item:last-child {
	border-bottom: none;
}

.resume-info {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.resume-info .title {
	font-size: 15px;
	font-weight: 500;
	color: #333;
}

.resume-info .date {
	font-size: 12px;
	color: #888;
}

.edit-btn {
	background-color: var(--main-color);
	border: none;
	padding: 8px 14px;
	border-radius: 8px;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	transition: background 0.2s;
}

.edit-btn:hover {
	background-color: var(--main-color-hover);
}

.resume-footer {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.delete-btn {
	background-color: var(--main-color);
	border: none;
	padding: 10px 20px;
	font-weight: bold;
	border-radius: 8px;
	cursor: pointer;
	font-size: 14px;
}

.delete-btn:hover {
	background-color: var(--main-color-hover);
}

.checkbox {
	width: 20px;
	height: 20px;
	accent-color: #fcd34d;
	margin: auto;
}

.pagination {
	margin: 0 auto;
	width: fit-content;
	display: flex;
	gap: 8px;
}

.page {
	cursor: pointer;
	padding: 4px 8px;
	border-radius: 4px;
	color: #555;
}

.page.active {
	font-weight: bold;
	text-decoration: underline;
}