/* 메인 컨텐츠를 화면 중앙에 정렬 */
.center-content {
  min-height: 50vh; /* 헤더/푸터 제외 영역 확보 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-gradient); /* 상단-하단 그라데이션 */
  text-align: center;
  gap: 12px;
}

/* 강조 텍스트 */
.highlight {
	position:relative;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: var( --font-family);
  font-size: 90px;
  color: var(--font-main-color);
  z-index: 1;
}
.bg-text {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15vw;   /* 매우 크게! */
  color: #d8d3d3;   /* 연한 회색 */
  opacity: 0.18;    /* 투명하게 */
  font-weight: bold;
  z-index: 0;
  pointer-events: none; /* 클릭 무시 */
  user-select: none;    /* 드래그 차단 */
  white-space: nowrap;
	
}

/* 설명문 스타일 */
.desc {
  color: #868686;
  font-size: 1.05em;
  margin-bottom: 18px;
}

/* 버튼 그룹 스타일 */
.btn-group {
  display: flex;
  gap: 12px;
  margin-bottom: 18px;
}

.btn-group button {
  border: none;
  background: #f6f6f9;
  padding: 0.8em 1.5em;
  border-radius: 999px;
  cursor: pointer;
  box-shadow: 0 0 4px #ececec;
  font-size: 1em;
}

.btn-group button:hover {
  background: #d4c4ef;
}

/* 메뉴 하단 스타일 */
.bottom-menu {
  font-size: 0.98em;
  color: #888;
  display: flex;
  gap: 18px;
  justify-content: center;
  margin-top: 18px;
}

footer, header {
  min-height: 60px;
  background: #fff;
}
